# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [9]:
data.isnull().sum().sum()

9254

In [10]:
data.dropna()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [22]:
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [26]:
data.columns = data.columns.str.lower().str.replace(' ', '_')

In [30]:
data['Effective To Date'] = pd.to_datetime(data['Effective To Date'])  
data['month'] = data['Effective To Date'].dt.month

KeyError: 'Effective To Date'

In [32]:
# Create a new DataFrame that only includes customers who have a total_claim_amount greater 
# than $1,000 and have a response of "Yes" to the last marketing campaign.

data_filtered = data[(data['total_claim_amount'] > 1000) & (data['response'] == 'Yes')]
data_filtered

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
1527,1527,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,...,1.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
1809,1809,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
2027,2027,TA66375,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
2125,2125,JC11405,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
2865,2865,FH77504,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
3958,3958,KC26486,Arizona,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
4475,4475,WP58340,Arizona,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
4521,4521,LT72149,Nevada,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,1027.000029,SUV,Medsize,A
4566,4566,TC99043,California,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
5013,5013,GP83239,California,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
5331,5331,UT48216,Nevada,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A
5489,5489,TQ84956,California,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
5896,5896,TY31217,Washington,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
7255,7255,PN98247,California,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
8340,8340,MJ51323,Oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
8367,8367,AJ89108,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
8505,8505,DT77901,Oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
8662,8662,YU86361,Washington,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
8835,8835,XT93203,California,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
9498,9498,IV54766,Oregon,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
9581,9581,GD55093,California,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
10009,10009,YP53257,Oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [40]:
# Analyze the average total_claim_amount by each policy type and gender for 
# customers who have responded "Yes" to the last marketing campaign

filtered_customers = data[data['response'] == 'Yes']

average_claim_amount = filtered_customers.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()
average_claim_amount

policy_type     gender
Corporate Auto  F         404.104008
                M         391.370774
Personal Auto   F         457.056315
                M         472.489180
Special Auto    F         495.689401
                M         368.523035
Name: total_claim_amount, dtype: float64

In [44]:
# Analyze the total number of customers who have policies in each state, 
# and then filter the results to only include states where there are more than 500 customers.


customer_count_by_state = data.groupby('state')['customer'].count().reset_index()
customer_count_by_state.rename(columns={'customer': 'customer_count'}, inplace=True)

states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state['customer_count'] > 500]
states_with_more_than_500_customers

TypeError: '>' not supported between instances of 'str' and 'int'

In [46]:
# Find the median customer lifetime value by education level and gender.

median_customer_l_ifetime_value = data.groupby(['education', 'gender'])['customer_lifetime_value'].median().reset_index()

median_customer_l_ifetime_value

              education gender  customer_lifetime_value
0              Bachelor      F              5752.485185
1              Bachelor      M              5797.377350
2               College      F              5642.596077
3               College      M              6005.847375
4                Doctor      F              5789.850900
5                Doctor      M              5843.989737
6  High School or Below      F              5978.754765
7  High School or Below      M              6081.481291
8                Master      F              5714.165863
9                Master      M              5512.342258

In [65]:
# Find the maximum, minimum, and average number of open complaints by state and policy type.

values_of_open_complaints = data.groupby(['state', 'policy_type'])['number_of_open_complaints'].agg(['max', 'min', 'mean']).reset_index()

values_of_open_complaints

         state     policy_type  max  min      mean
0      Arizona  Corporate Auto  5.0  0.0  0.456790
1      Arizona   Personal Auto  5.0  0.0  0.413374
2      Arizona    Special Auto  3.0  0.0  0.229167
3   California  Corporate Auto  4.0  0.0  0.296703
4   California   Personal Auto  5.0  0.0  0.398589
5   California    Special Auto  4.0  0.0  0.388889
6       Nevada  Corporate Auto  3.0  0.0  0.393617
7       Nevada   Personal Auto  5.0  0.0  0.422492
8       Nevada    Special Auto  3.0  0.0  0.285714
9       Oregon  Corporate Auto  4.0  0.0  0.331984
10      Oregon   Personal Auto  5.0  0.0  0.373444
11      Oregon    Special Auto  5.0  0.0  0.328571
12  Washington  Corporate Auto  4.0  0.0  0.467532
13  Washington   Personal Auto  5.0  0.0  0.409836
14  Washington    Special Auto  4.0  0.0  0.562500

In [69]:
# The marketing team wants to analyze the number of policies sold by state and month.
# Present the data in a table where the months are arranged as columns and the states are arranged as rows.

data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

data['month'] = data['effective_to_date'].dt.month

policies_by_state_month = data.pivot_table(index='state', columns='month', values='number_of_policies', aggfunc='sum', fill_value=0)

policies_by_state_month

month          1     2
state
Arizona     1344  1297
California  2439  2158
Nevada       666   567
Oregon      2009  1885
Washington   585   589

In [71]:
# Display a new DataFrame that contains the number of policies sold by month by state for the top 3 
# states with the highest number of policies sold.
# Hint:

# To accomplish this, you will first need to group the data by state and month, then count the number of policies 
# sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.
# Next, you will select the top 3 states with the highest number of policies sold.
# Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.

policies_by_state_month = data.groupby(['state', 'month'])['number_of_policies'].count().reset_index()

sorted_policies = policies_by_state_month.sort_values(by='number_of_policies', ascending=False)

top_3_states = sorted_policies['state'].head(3)

top_3_states_policies = sorted_policies[sorted_policies['state'].isin(top_3_states)]

top_3_states_policies

        state  month  number_of_policies
2  California      1                 826
3  California      2                 726
6      Oregon      1                 676
7      Oregon      2                 605

In [73]:
# The marketing team wants to analyze the effect of different marketing channels on the customer response rate.
# Hint: You can use melt to unpivot the data and create a table that shows the customer response
# rate (those who responded "Yes")by marketing channel.


melted_data = pd.melt(data, id_vars=['response', 'sales_channel'], value_vars=['customer'], var_name='customer_type', value_name='customer_id')

melted_data = melted_data[melted_data['response'] == 'Yes']

response_rate = melted_data.groupby('sales_channel')['response'].count() / melted_data.groupby('sales_channel')['response'].size()

response_rate

sales_channel
Agent          1.0
Branch         1.0
Call Center    1.0
Web            1.0
Name: response, dtype: float64